<br/>
<div class="row">
<div class="col-md-4 col-md-offset-4"> 
	<div class="input-group">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-search"></span>
		</span>
    	<input type="text" class="form-control" placeholder="Buscar..." id="buscar">
  	</div>
</div>
</div>

<br/>
<div class="table-responsive">
<table class="table table-bordered table-hover" id="tabla">
	<caption><h3 align="center" >Stock de Medicinas Agotadas</h3></caption>
	<thead>
		<tr>
			<th>#</th>
			<th>Concepto</th>
			<th>Presentación</th>
			<th>Unidad Medida</th>
			<th>Lote</th>
			<th>Caducidad</th>
			<th>Cantidad</th>
			<th>Salidas del Mes</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>				
			<td></td>
		<tr/>
	</tbody>
</table>
</div>