{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block content %}
<!-- Page Header -->
<header class="intro-header" style="background-color: gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Academia CISCO</h1>
					<hr class="small">
					<span class="subheading">Contenido del curso</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Capitulos del curso -->
<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h1 class="page-header">IT Essentials</h1>
			{% for capitulo in object_list %}
				<h2 class="sub-header">
					<a id="{{ capitulo.id }}">{{ capitulo.titulo }}</a>
				</h2>
				{{ capitulo.objetivo|markdown }}
			{% endfor %}
			</div>
		</div>
</div>
<hr>
<br>
{% endblock %}
