{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Page Header -->
<header class="intro-header" style="background-color: gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Blog de Alumnos CIJ</h1>
					<hr class="small">
					<span class="subheading">Un portal para agilizar el aprendizaje.</span>
				</div>
			</div>
		</div>
	</div>
</header>
  
<!-- Contenido de la pagina -->
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Capítulos de la Academia</h2>
			<p>Detalles y objetivos de los capítulos del curso. </p>
			<p><a class="btn btn-primary" href="/capitulos" role="button">Ver más &raquo;</a></p>
		</div>
		<div class="col-md-4">
			  <h2>Material Extra</h2>
			  <p>Vídeos, artículos y simuladores que te ayudaran a comprender los temas del curso. </p>
			  <p><a class="btn btn-primary" href="/material" role="button">Ver más &raquo;</a></p>
		   </div>
		<div class="col-md-4">
			  <h2>Blog</h2>
			  <p>Expresa tú opinión, colabora, contribuye, intercambia y comparte tus experiencias y dudas. </p>
			  <p><a class="btn btn-primary" href="/blog" role="button">Ver más &raquo;</a></p>
		</div>
	</div>
</div>
<hr>
<br>
{% endblock %}