{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block content %}
<!-- Page Header -->
<header class="intro-header" style="background-color:#FF9966">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>{{post.encabezado}}</h1>
					<h2 class="subheading">{{post.usuario}}</h2>
					<p class="post-meta"> 
						<span class="glyphicon glyphicon-time"></span> {{ post.fecha }} 
					</p>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Contenido del Post -->
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{{ post.cuerpo|markdown }}
			</div>
		</div>
	</div>
</article>
<hr>

<!-- Formulario-->
<div class="container">
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<div class="well">
		<h4>Deja un comentario:</h4>
			<form role="form" action="{% url 'comentario_crear' pk=post.id %}" method="POST" id="FormComentario">
				{% csrf_token %}
				<div class="form-group" >
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
						</span>
							{{ form.usuario}}
					</div>
				</div>
					<div class="form-group">
						{{ form.comentario }}
					</div>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</div>
	<hr>
	<br>

<!-- Comentarios Publicados -->
		<div class="media">
			<div class="media-body">
			{% if comentarios %}		
				{% for comentario in comentarios %}
					<h4 class="media-heading">{{comentario.usuario}} - <small>{{comentario.fecha}}</small></h4>
					<p>{{comentario.comentario}}</p>
					<br>
				{% endfor %}
			{% else %}
				<h4>No hay comentarios</h4>
			{% endif %}
			</div>
		</div>
	</div>
	</div>
</div>
<hr>
<br>
{% endblock %}