{% extends "base.html" %}
{% load django_markdown %}

{% block content %}

<!-- Contenido de la pagina -->
<div class="container">
	<div class="row">
	<!-- Entradas del Blog -->
		<div class="col-md-8">
			<h2 class="page-header"> Academia CISCO </h2>
			<!-- Blog Post -->
			{% for post in object_list %}
			<h2>{{ post.encabezado }}</h2> <p class="lead"> por {{ post.usuario }}</p>
			<p><span class="glyphicon glyphicon-time"></span> {{ post.fecha }} </p>
		<hr>
			<a href="{% url 'post_detalles' pk=post.id %}" class="btn btn-primary" role="button" >Leer más &raquo;</a>
		<hr>
			{% endfor %}
			
			<!-- Paginador -->
			{% if is_paginated %}
			<ul class="pager">
			 {% if page_obj.has_previous %}
				<li class="previous">
					<a href="/blog?page={{page_obj.previous_page_number}}">&larr; Atrás</a>
				</li>
			{% endif %}
			{% if page_obj.has_next %}
				<li class="next">
					<a href="/blog?page={{page_obj.next_page_number}}">Siguiente &rarr;</a>
				</li>
			{% endif %}
			</ul>
			{% endif %}

		</div>

		<!-- Blog Sidebar -->
		<div class="col-md-4">
			<!-- Blog Categories -->
			{% include 'menu.html' %}

			<!-- Side Widget -->
			{% include 'frases.html' %}
		</div>
	</div> <!-- /.row -->
	
	<hr>
	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; CIJ Acapulco 2015</p>
			</div> <!-- /.col-lg-12 -->
		</div> <!-- /.row -->
	</footer>
</div> <!-- /.container -->
{% endblock %}