{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block content %}
<!-- Page Header -->
<header class="intro-header" style="background-color: #FF9966">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Blog</h1>
					<hr class="small">
					<span class="subheading">Publicaciones recientes</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Publicaciones realizadas -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<!-- Blog Post -->
		{% for post in object_list %}
			<div class="post-preview">
				<a href="{% url 'post_detalles' pk=post.id %}">
					<h2 class="post-title"> {{ post.encabezado }} </h2>
					<h3 class="post-subtitle"> {{ post.usuario }} </h3>
				</a>
				<p class="post-meta"> <span class="glyphicon glyphicon-time"></span> {{ post.fecha }} </p>
			</div>                
			<hr>
		{% endfor %}

		<!-- Paginador -->
		{% if is_paginated %}
			<ul class="pager">
			 {% if page_obj.has_previous %}
				<li class="previous">
					<a href="/blog?page={{page_obj.previous_page_number}}">&larr; Atrás</a>
				</li>
			{% endif %}
			{% if page_obj.has_next %}
				<li class="next">
					<a href="/blog?page={{page_obj.next_page_number}}">Siguiente &rarr;</a>
				</li>
			{% endif %}
			</ul>
		{% endif %}
		<br>
		</div>
	</div>
</div>
<hr>
<br>
{% endblock %}
