{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page Header -->
<header class="intro-header" style="background-color: #FF9966">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Recursos</h1>
					<hr class="small">
					<span class="subheading">Material del curso</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Recursos de la academia -->
<div class="container">
	<div class="row">
	<h1 class="page-header">IT Essentials</h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Capitulo</th>
						<th>Material</th>
						<th>URL</th>
					</tr>
				</thead>
				<tbody>
				{% for recurso in object_list %}
					<tr>
						<td>{{ recurso.id }}</td>
						<td>
							<a id="{{ recurso.id }}"> {{ recurso.capitulo }} </a>
						</td>
						<td>{{ recurso.descripcion }}</td>
						<td> 
							<a href="{{ recurso.url }}"> {{ recurso.url }} </a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<hr>
<br>
{% endblock %}